@media screen and (max-width: 1024px) {  
  .header-nav.active {
    left: 0px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    z-index: 100;
  }

  .burger-menu_button {
    position: absolute;
    top: 45px;
    right: 15px;
    z-index: 20;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .burger-menu_lines::before,
  .burger-menu_lines::after,
  .burger-menu_lines {
    position: absolute;
    width: 32px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu_lines::before {
    content: '';
    top: -9px;
  }
  .burger-menu_lines::after {
    content: '';
    top: 9px;
  }
  
  .active.burger-menu_lines {
    background-color: transparent;
  }
  .active.burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .active.burger-menu_lines::after{
    top: 0;
    transform: rotate(-45deg);
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
  }

  .title.active {
    left: -400px;
  }
}