@media screen and (max-width: 1024px) {
  h1,
  h2 {
    font-size: calc(500% - 30px);
    line-height: 90px;
  }
  p {
    font-size: 20px;
  }
  .container {
    max-width: 1024px;
  }

  .section {
    padding: 53px 20px 30px;
  }
  .header-container {
    height: calc(21vh - 25px);
  }
  .header-nav {
    display: block;
    position: absolute;
    left: -300px;
    bottom: 33px;
    width: 297px;
    height: 585px;
    background-color: var(--bg-dark);
    z-index: 1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .header-list {
    flex-direction: column;
  }

  .header-list-item a {
    display: inline-block;
    width: 116px;
    line-height: calc(500% - 30px);
  }

  .header-list-item::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 12px;
    background: url(../assets/svg/media/header-arrow.svg) no-repeat;
  }

  .header-logo {
    margin-left: 20px;
    font-size: calc(181% - 1px);
  }

  .welcome-slider {
    min-width: calc(80% + 1px);
    justify-content: center;
  }

  .welcome-panaroma {
    width: calc(42vh - 10px);
    height: calc(10vh - 14px);
    font-size: calc(100% - -4px);
  }

  #welcome .container {
    height: calc(79vh - 1vh);
  }
  #welcome {
    padding: 0px 20px;
  }
  #welcome h2 {
    padding-top: 49px;
  }
  #welcome h4 {
    font-size: calc(200% - 8px);
    margin-bottom: 47px;
  }

  .slider-image-container {
    width: calc(100% - 284px);
    height: calc(100% - 50px);
  }

  .down-line-title::after {
    bottom: -14px;
  }
  .down-line-title {
    margin-bottom: 76px;
  }

  .photo-cards-container {
    justify-content: center;
    text-align: left;
    gap: 30px 70px;
  }

  .photo-card {
    width: 368px;
    height: 373px;
  }
  .photo-card-img {
    width: 330px;
    height: 214px;
  }

  .photo-card-title {
    position: relative;
    margin: 18px 0 15px 0;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
  }
  .photo-card-title::after {
    bottom: -12px;
    width: 149px;
  }
  .photo-card > * {
    margin-left: 20px;
  }
  .photo-card-text.text-2 {
    font-size: 16px;
  }
  .photo-card-text.text-1 {
    display: block;
    font-size: 20px;
    margin-bottom: 6px;
  }

  #explore .section-title {
    margin-top: 5px;
    margin-bottom: 105px;
  }
  #explore .container {
    flex-direction: column;
  }
  #explore .section-title {
    margin-bottom: 72px;
  }
  .dark-paragraph {
    margin: 0;
    word-spacing: -3px;
    line-height: 176%;
  }
  .dark-paragraph:last-child {
    display: none;
  }

  .explore-slider-container {
    text-align: center;
    margin-top: 60px;
  }
  #explore {
    padding-bottom: 58px;
  }

  #video .light-paragraph {
    display: none;
  }
  .video-title-container {
    padding: 0;
    margin: 2px 0 9px;
    display: block;
}
  .video-container {
    height: calc(69vh - 10px);
  }
}
