.welcome-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  min-width: 600px;
  min-height: 120px;
  background-color: var(--bg-dark);
  justify-items: center;
}

.welcome-slider > * {
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  color: var(--white);
}
.counter-pagination {
  display: flex;
}
.counter-pagination * {
  margin: 7px 5px 4px;
}
.pagination-arrows {
  align-items: center;
  vertical-align: middle;
}

.pagination-left,
.pagination-right {
  padding: 0px 21px;
  width: 30px;
  height: 8px;
  border: none;
  background: none;
  background-image: url(..//assets/svg/welcome/pagination-left.svg);
  background-repeat: no-repeat;
}
.pagination-right {
  background-image: url(..//assets/svg/welcome/pagination-right.svg);
}

.pagination-list {
  display: flex;
  width: 180px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}

.pagination-item {
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--white);
}

.active-item {
  background-color: #D2B183;
}

@media screen and (max-width: 1024px) {
  .welcome-slider > * {
    font-size: 20px;
  }
  .pagination-item {
    width: 12px;
    height: 12px;
  }

  .counter-pagination {
    position: absolute;
    top: 28%;
    left: 310px;
  }

  .pagination-list {
    position: absolute;
    top: 28%;
    left: 417px;
    
    justify-content: space-around;
  }

  .pagination-arrows {
    position: absolute;
    top: 30%;
    left: 634px;
  }
}