@font-face {
  font-family: Forum;
  src: url("assets/fonts/Forum.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --white: #ffffff;
  --black: #000000;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

h1,
h2 {
  font-family: Forum;
  font-weight: normal;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h3 {
  font-family: Forum;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h4 {
  margin: 0 auto;
  font-family: Roboto;
  font-weight: bold;
  font-size: 32px;
}

p {
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
}

a {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  color: var(--black);
}

ul {
  list-style: none;
  padding: 0;
}

.section {
  padding: 75px 75px;
}

.dark-section {
  background-color: var(--bg-dark);
}

.video-section {
  padding-top: 95px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  height: auto;
}

/* Header */

.header {
  background-color: var(--bg-dark);
}

.header-container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo,
.footer-logo {
  padding-left: 51px;
  font-family: Forum;
  font-weight: normal;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--white);
  background-image: url("assets/svg/logo.svg");
  background-size: 26px;
  background-position: left;
  background-repeat: no-repeat;
}

.header-nav {
  max-width: 1024px;
  /* height: max-content; */
}
.header-list {
  display: flex;
}
.header-list-item {
  padding: 0 27px;
  list-style: none;
  line-height: inherit;
  letter-spacing: 2px;
}

.header-list-item > a {
  color: var(--white);
}

/* Welcome page  */

.section-title {
  margin: 0 auto;
  color: var(--font-gold);
}

.dark-section-title {
  color: var(--white);
}

#welcome {
  padding: 0 75px;
}

#welcome .container {
  position: relative;
  height: 810px;
  background-image: linear-gradient(to right, black 1%, transparent 40%),
    url(./assets/img/welcome-slider/1.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 1000px auto;
}

.welcom-title-wrapper {
  position: absolute;
  top: 150px;
  max-width: 690px;
}

#welcome h1 {
  padding-top: 150px;
  padding-bottom: 25px;
  margin-left: 0;
}

#welcome h4 {
  padding-bottom: 75px;
  font-weight: 100;
  letter-spacing: 2px;
}

.welcome-panaroma {
  display: table-cell;
  width: 360px;
  height: 75px;
  text-align: center;
  vertical-align: middle;

  font-family: Roboto;

  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  text-decoration: none;

  background-color: var(--dark-red);
  border-radius: 10px;
}

/* Visiting */

.down-line-title {
  margin-bottom: 103px;
  position: relative;
}

.down-line-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.photo-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 75px 60px;
}

.photo-card {
  display: block;
  width: 440px;
  height: 424px;
  color: var(--black);
  text-decoration: none;
}

.photo-card-img {
  width: 440px;
  height: 285px;
}

.photo-card-title {
  padding-top: 0;
  margin: 25px 0 22px 0;
  position: relative;
}

.photo-card-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: var(--dark-red);
}

.photo-card-text .text-1 {
  font-family: Roboto;

  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
}
.photo-card-text .text-2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
}

/* Explore */

#explore .container {
  display: flex;
  flex-direction: wrap;
  column-gap: 60px;
}

.dark-paragraph {
  color: var(--white);
}
.explore-span {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--font-gold);
}

/* Video */

.video-title-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.video-title-container .section-title {
  margin: 0 0;
}

.light-paragraph {
  color: var(--black);
}

.video {
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

/* Gallery */

#gallery h2 {
  margin-bottom: 75px;
}

.picture-container {
  position: relative;
  overflow-y: hidden;
  height: 1960px;
}

.picture-inner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 36px;
  height: 2900px;
  justify-content: end;
}

.gallery-picture {
}

.gallery-shadow {
  position: absolute;
  bottom: 0;
  height: 360px;
  width: 100%;
  background: linear-gradient(360deg, black, transparent);
}

/* Tickets */

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    display: none;
}

.tickets-container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  justify-items: stretch;
}
.tickets1 {
  margin-left: 60px;
}
.tickets-container h4 {
  margin: 0 0 50px 0;
}

.ticket-type-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ticket-type-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 2px solid;
  border-radius: 50%;
}

/* When the radio button is hover
  .ticket-type-container:hover input ~ .checkmark {
    border-color: var(--font-gold);
  } */

/* When the radio button is checked
  .ticket-type-container input:checked ~ .checkmark {
  
  }
  */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.ticket-type-container input:checked ~ .checkmark:after {
  display: block;
}

.ticket-type-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--black);
}

h4.ticket-amount {
  text-align: right;
  margin-bottom: 15px;
}

.ticket-age-type {
  margin: 10px 0 15px 60%;
  display: block;
  width: 150px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
}
.tickets-amount {
  display: flex;
  margin-left: 60%;
  max-width: 150px;
  height: 50px;
  justify-content: space-evenly;
  border: 3px solid var(--black);
}
.tickets-amount-button {
  all: unset;
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}
.tickets-amount-number {
  all: unset;
  padding-left: 0px;
  text-align: center;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
}

h4.ticket-total {
  margin: 50px 0 60px 60%;
  text-align: left;
}

.ticket-buy {
  margin-left: 51%;
  width: 175px;
  height: 50px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;

  background-color: var(--black);
  border: 0px;
  border-radius: 2px;
}
/* Paralax */

.paralax {
  width: 100%;
  height: 400px;
  background-image: url(./assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* Contacts */

.contacts-container {
  display: grid;
  grid-template-columns: 33% 66%;
  justify-items: stretch;
}

.contacts-info {
  display: block;
}

h4.contacts {
  margin-bottom: 50px;
}

.contacts-item {
  margin-bottom: 25px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
}

.contacts-map {
  width: fit-content;
}

/* Footer */

.footer-container {
  padding-top: 85px;
  padding-bottom: 50px;
  display: grid;
  align-items: start;
  grid-template-columns: 25% 35% 40%;
}

.footer-nav-list {
  display: grid;
  grid-template-columns: 257px auto;
}
.footer-nav-item {
  margin-bottom: 25px;
}

.footer-nav-item > a {
  color: var(--white);
}

.social-list {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column-gap: 50px;
}

.social-circle {
  margin: 50% 0;
  display: block;
  height: 46px;
  width: 46px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
}

.footer-footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.footer-between-line {
  margin: 0;
  color: #666666;
}

.footer-footer > * {
  color: var(--white);
}

/* Welcom-Slider */

.welcome-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 600px;
  min-height: 120px;
  background-color: var(--bg-dark);
}
.welcome-slider > * {
  color: var(--white);
}
