@media screen and (max-width: 980px) {
  .player-video iframe {
    max-width: 245px;
  }

  .footer-container {
    grid-template-columns: 38% 62%;
    padding-bottom: 37px;
  }

  .footer-nav-list {
    grid-template-columns: 54% auto;
  }
  .footer-nav-item {
    margin: 24px 0px 2px 24px;
  }

  .social-list {
    margin: 46px 14% 0 auto;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-column-gap: 25px;
  }

  .social-circle {
    margin-top: 0;
  }

  .footer-footer {
    padding: 40px 20px;
  }
  /* /////////////////// */
  .modal-body {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    padding-top: 0;
    font-size: 40px;
    line-height: 60px;
  }

  .section {
    padding: 36px 20px 30px;
  }

  .header-container {
    height: 110px;
  }

  .header-logo {
    margin-top: 26px;
  }
  #welcome {
    padding: 0 22px;
  }
  #welcome .container {
    height: 861px;
    overflow: hidden;
  }

  #welcome .title {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #030303;
  }

  #welcome h2 {
    padding-top: 0;
  }

  #welcome h4 {
    font-size: 20px;
    line-height: 23px;
  }

  #welcome .welcome-panaroma {
    display: none;
  }

  .down-line-title::after {
    bottom: -28px;
  }

  .down-line-title {
    margin-bottom: 68px;
  }

  .photo-cards-container {
    gap: 40px 58px;
  }
  .photo-card {
    max-width: 279px;
  }

  .photo-card-title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 26px;
  }

  .photo-card .photo-card-text {
    font-size: 18px;
    line-height: 21px;
  }

  #visiting {
    padding-bottom: 52px;
  }

  .explore-container p {
    display: none;
  }

  #explore .section-title {
    margin-bottom: 0;
  }

  .explore-slider-container {
    margin: 71px 0 5px;
    width: 100%;
  }

  #explore {
    padding-bottom: 38px;
  }

  .video-title-container {
    height: 73px;
  }
  .video-container {
    height: 385px;
    background-position: 50% 160%;
  }
  .video-controls {
    height: 51px;
  }

  .video-controls > * {
    margin: 0 30px;
  }

  .video-progress {
    position: absolute;
    margin: 0px 0 61px;
    height: 3px;
  }

  .big-play-video {
    top: 33%;
    left: calc(44% + 4px);
    width: 80px;
    height: 80px;
    background-size: 100%;
  }

  .sound-video {
    margin-left: -11px;
    margin-right: -3px;
  }

  .sound-progress {
    max-width: calc(100% - 40px);
  }

  .fullscreen-video {
    margin-left: -5px;
  }

  .player-video iframe {
    height: 197px;
    max-width: 49%;
  }

  .player-video iframe:nth-last-child(1) {
    display: none;
  }
  .player-video {
    margin: 22px 0;
  }

  .player-item {
    margin: 0 9px;
  }

  #video {
    padding-bottom: 78px;
  }
  #gallery {
    padding-top: 41px;
  }
  .picture-inner-container {
    grid-template-columns: 50% 50%;
    column-gap: 26px;
  }
  .gallery-column img {
    margin-top: 10px;
  }
  .picture-container {
    height: 1045px;
  }

  #tickets {
    padding-bottom: 38px;
  }

  #tickets h2,
  #contacts h2 {
    margin-bottom: 65px;
  }
  .tickets-container {
    grid-template-columns: 61% 39%;
  }
  .tickets-image {
    height: 338px;
  }

  h4.ticket-amount {
    margin: -2px 62px 39px 0px;
  }

  .tickets2 > * {
    margin-left: 21%;
  }
  .tickets-amount {
    margin: 10px 0 25px 21%;
  }

  h4.ticket-total {
    margin: 39px 0 41px 21%;
  }

  .paralax {
    height: 300px;
  }
  .contacts-container {
    display: flex;
    flex-direction: column;
  }
  h4.contacts {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 43px;
  }
  a {
    font-size: 18px;
    line-height: 21px;
  }
  .contacts-item {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    margin-bottom: 15px;
  }

  .contacts-map {
    margin: 22px 0 5px;
    height: 478px;
  }

  .modal-overlay {
    overflow: scroll;
  }

  .modal-window {
    max-width: 590px;
    height: 1479px;
  }

  .modal-body {
    grid-template-columns: 100%;
    row-gap: 50px;
    padding: 80px 30px 0;
  }

  #booking .down-line-title {
    margin-bottom: 35px;
    margin-top: 0;
  }

  #booking .down-line-title::after {
    bottom: -11px;
  }

  .left-column {
    row-gap: 20px;
  }

  #booking .booking-amount-title.down-line-title {
    margin-bottom: 24px;
    margin-top: 5px;
  }

  .date-time {
    column-gap: 25px;
  }
  .date-time input {
    width: 82%;
  }

  .right-column {
    padding: 25px 15px 23px;
  }
  .total-result {
    margin-bottom: 15px;
  }
  span.form-logo {
    right: 16px;
  }

}
