@font-face {
  font-family: Forum;
  src: url("../assets/fonts/Forum.ttf");
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 500;
  font-display: swap;
}

:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --white: #ffffff;
  --black: #000000;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

h1,
h2 {
  font-family: Forum;
  font-weight: normal;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h3 {
  font-family: Forum;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h4 {
  margin: 0 auto;
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
}

p {
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
}

a {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  color: var(--black);
}

ul {
  list-style: none;
  padding: 0;
}

main,
footer,
header {
  overflow: hidden;
}

button:active,
button:focus {
  outline: 0;
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
}

.section {
  padding: 75px 75px;
}

.dark-section {
  background-color: var(--bg-dark);
}

.video-section {
  padding-top: 95px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  height: auto;
}

/* Header */

.header {
  background-color: var(--bg-dark);
}

.header-container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo,
.footer-logo {
  padding-left: 74px;
  font-family: Forum;
  font-weight: normal;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--white);
  background-image: url("../assets/svg/logo.svg");
  background-size: 49px;
  background-position: left;
  background-repeat: no-repeat;
}

.header-nav {
  max-width: 1024px;
  /* height: max-content; */
}
.header-list {
  display: flex;
}
.header-list-item {
  padding: 0 0 0 55px;
  letter-spacing: 2.1px;
  color: var(--white);
}

.header-list-item a {
  color: var(--white);
  line-height: 8rem;
}

/* Welcome page  */

.section-title {
  margin: 0 auto;
  color: var(--font-gold);
}

.dark-section-title {
  color: var(--white);
}

#welcome {
  padding: 0 75px;
  margin-top: -1px;
}

#welcome .container {
  position: relative;
  height: 810px;
}

#welcome h2 {
  position: relative;
  z-index: 10;
  padding-top: 153px;
  padding-bottom: 27px;
  margin-left: 0;
}

#welcome h4 {
  position: relative;
  z-index: 10;
  margin-bottom: 75px;
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 2.1px;
}

.welcome-panaroma {
  position: relative;
  z-index: 10;
  display: table-cell;
  width: 360px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2.2px;
  background-color: var(--dark-red);
  border-radius: 10px;
}

/* Visiting */

.down-line-title {
  margin-bottom: 103px;
  position: relative;
}

.down-line-title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--dark-red);
}

.photo-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 74px 60px;
}

.photo-card {
  display: block;
  max-width: 440px;
  height: 424px;
  color: var(--black);
  text-decoration: none;
}

.photo-card-img {
  max-width: 440px;
  height: 285px;
}

.photo-card-title {
  margin: 24px 0 22px 0;
  position: relative;
}

.photo-card-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: var(--dark-red);
  transition: 0.5s ease-in;
}

.photo-card-text.text-1 {
  display: block;
  font-size: 22px;
  margin-bottom: 2px;
}
.photo-card-text.text-2 {
  font-size: 18px;
}

/* Explore */

#explore .container {
  display: grid;
  grid-template-columns: auto 50%;
  column-gap: 62px;
}
#explore .section-title {
  margin-top: 5px;
  margin-bottom: 105px;
}

.dark-paragraph {
  color: var(--white);
  line-height: 178%;
  word-spacing: 1px;
}
.explore-span {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--font-gold);
}

/* Video */

.video-title-container {
  margin: -31px 0px 0;
  padding-bottom: 63px;
  display: grid;
  height: 112px;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.video-title-container .section-title {
  margin: 0 0;
}

.light-paragraph {
  line-height: 169%;
}

.video-container {
  position: relative;
  height: 735px;
}

.video-progress,
.sound-progress {
  background: linear-gradient(
    to right,
    var(--dark-red) 0%,
    var(--dark-red) 53%,
    #c4c4c4 53%,
    #c4c4c4 100%
  );
  border: none;
  height: 8px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}

.sound-progress {
  background: linear-gradient(
    to right,
    var(--dark-red) 0%,
    var(--dark-red) 43%,
    #c4c4c4 43%,
    #c4c4c4 100%
  );
}

.video-progress::-webkit-slider-thumb,
.sound-progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

.play-toggle,
.sound-toggle,
.fullscreen-toggle,
.big-play-toggle {
  padding: 15px;
  background-repeat: no-repeat;
  background-color: var(--black);
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.play-toggle {
  width: 23px;
  height: 31px;
  background-image: url(../assets/svg/video/play.svg);
}

.sound-toggle {
  padding-right: 65px;
  width: 45px;
  height: 31px;
  background-image: url(../assets/svg/video/volume.svg);
}

.fullscreen-toggle {
  width: 40px;
  height: 35px;
  background-image: url(../assets/svg/video/fullscreen.svg);
}

.big-play-toggle {
  position: absolute;
  top: 44.2%;
  left: 50%;
  width: 15.3%;
  height: 29.9%;
  transform: translate(-50%, -50%);
  background-image: url(../assets/svg/video/big-play.svg);
  background-position: 50% 50%;
  background-color: transparent;
  z-index: 10;
}

/* Gallery */

#gallery {
  padding-top: 76px;
  padding-bottom: 79px;
}

.picture-container {
  position: relative;
  overflow: hidden;
  height: 1960px;
}

.picture-inner-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 31px;
  height: 2900px;
  justify-content: space-around;
}

.gallery-column {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
}

.gallery-column:first-child {
  margin-top: 101px;
}
.gallery-column:last-child {
  margin-top: 101px;
}

.gallery-column > img {
  margin-top: 25px;
}

.gallery-shadow {
  position: absolute;
  bottom: 0;
  height: 360px;
  width: 100%;
  background: linear-gradient(360deg, black, transparent);
}

/* Tickets */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.tickets-container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  justify-items: stretch;
}

.tickets-image {
  height: 545px;
  background: url(../assets/img/tickets/tickets0.webp) no-repeat;
  background-size: 100%;
}

.tickets1 {
  margin-left: 60px;
}
.tickets-container h4 {
  margin: 0 0 50px 0;
}

.ticket-type-container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ticket-type-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 2px solid;
  border-radius: 50%;
}

/* When the radio button is hover
  .ticket-type-container:hover input ~ .checkmark {
    border-color: var(--font-gold);
  } */

/* When the radio button is checked
  .ticket-type-container input:checked ~ .checkmark {
  
  }
  */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.ticket-type-container input:checked ~ .checkmark:after {
  display: block;
}

.ticket-type-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--black);
}

h4.ticket-amount {
  text-align: right;
  margin-bottom: 26px;
}

.ticket-age-type {
  margin-left: 59%;
  display: block;
  width: 150px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
}
.tickets-amount {
  display: flex;
  margin: 14px 0 12px 58%;
  max-width: 150px;
  height: 43px;
  justify-content: space-evenly;
  border: 3px solid var(--black);
}
.tickets-amount-button {
  all: unset;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}
.tickets-amount-number {
  all: unset;
  padding-left: 0px;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

h4.ticket-total {
  margin: 50px 0 60px 58%;
  text-align: left;
  letter-spacing: 1.65px;
}

.ticket-buy {
  margin-left: 52%;
  width: 175px;
  height: 50px;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;

  background-color: var(--black);
  border: 0px;
  border-radius: 2px;
}
/* Paralax */

.paralax {
  max-width: 100%;
  height: 400px;
  background-image: url(../assets/img/parallax.webp);
  background-size: cover;
  background-position: 50% 71%;
  background-attachment: fixed;
}

/* Contacts */

.contacts-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: stretch;
}

.contacts-info {
  display: block;
}

h4.contacts {
  margin-bottom: 50px;
}

.contacts-item {
  margin-bottom: 22px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: -0.5px;
}

.contacts-map {
  max-width: 100%;
  height: 620px;
  background: url(../assets/img/map.webp) no-repeat 100%;
}

/* Footer */

.footer-container {
  padding-top: 85px;
  padding-bottom: 28px;
  display: grid;
  align-items: start;
  grid-template-columns: 23% 42% 35%;
}

.footer-logo {
  margin: 1px 0 0;
}

.footer-nav-list {
  margin: 0;
  display: grid;
  grid-template-columns: 257px auto;
}
.footer-nav-item {
  margin: 3px 0px 20px 8px;
}

.footer-nav-item > a {
  letter-spacing: 2px;
  color: var(--white);
}

.social-list {
  margin: 0;
  display: flex;
  grid-column-gap: 25px;
  justify-content: flex-end;
}

.social-circle {
  margin-top: 80px;
  display: block;
  height: 46px;
  width: 46px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
}

.footer-footer {
  padding: 47px 0 50px;
  display: flex;
  justify-content: space-between;
}

.footer-between-line {
  margin: 0;
  color: #666666;
}

.footer-footer > * {
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  color: var(--white);
}
.rsschool-link {
  margin-left: 95px;
}

.burger-menu_button {
  display: none;
}

.header-small {
  display: none;
}

/* Explore Slider */

.explore-slider-container {
  position: relative;
  width: 100%;
  height: 700px;
  margin-top: 20px;
}

.explore-picture-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../assets/img/explore-slider/after.webp) no-repeat;
  background-size: cover;
  background-position: top right;
}

.explore-picture-delimeter {
  position: absolute;
  box-sizing: border-box;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 58%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 5px solid #fff;
  border-radius: 50%;
}

.explore-picture-delimeter::before,
.explore-picture-delimeter::after {
  content: "";
  position: absolute;
  left: 45%;
  width: 5px;
  height: 331px;
  background-color: #fff;
}

.explore-picture-delimeter::before {
  bottom: 115%;
}

.explore-picture-delimeter::after {
  top: 115%;
}

.explore-picture-overlay {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 61%;
  background: url(../assets/img/explore-slider/before.webp) no-repeat;
  background-size: cover;
  background-position: top left;
}

.slide-in {
  opacity: 0;
  transition: all, 2s;
}
.align-bottom.slide-in {
  transform: translateY(100%) scale(0.1);
}
.slide-in.active {
  opacity: 1;
  transform: translateY(0%) scale(1);
}

.player__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

iframe {
  display: none;
}

.video-controls {
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 86px;
  background: var(--black);
  transform: translateY(0);
  opacity: 1;
  transition: all 0.7s ease;
}

.control-bar__wr {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 2.08% 0 2.09%;
  box-sizing: border-box;
}

.control-point {
  display: flex;
  align-items: center;
  height: 100%;
}

.control__play {
  justify-content: space-between;
  width: 1.7%;
}

.control__progress {
  width: 67.5%;
}

.control__volume {
  display: flex;
  align-items: center;
  width: 17.9%;
}

.control__fullscreen {
  width: 2.5%;
}
