#video-slider {
  position: relative;
}


#video-slider .video-slider-item {
  flex: 0 0 33.33333333333%;
  max-width: 33.33333333333%;
}

.player-pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0 50px;
}

.player-left,
.player-right {
  margin: 0 10px;
  display: block;
  width: 12px;
  height: 15px;
  border: none;
  background: none;
  background-image: url(../assets/svg/video/left-pagination.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.player-right {
  background-image: url(../assets/svg/video/right-pagination.svg);
}

.player-pagination-list {
  display: flex;
  margin: 0;
}

.player-item {
  margin: 0 10px;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../assets/svg/video/pagination-dot.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.player-item.active {
  background-image: url(../assets/svg/video/active-pagination-dot.svg);
}

.video-list {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-list iframe {
  max-width: 452px;
  height: 254px;
  width: 100%;
  border: 0;
  overflow: hidden;
}