@media screen and (max-width: 1590px) {
  .section {
    padding: 53px 20px 30px;
  }

  .header-container {
    margin: 0 20px;
  }
  #welcome {
    padding: 0px 20px;
  }

  .header-list-item {
    padding: 0 0 0 20px;
  }
  .header-list {
    margin-right: 20px;
  }
  .modal-body {
    padding: 75px 27px;
  }
}

@media screen and (max-width: 1024px) {
  h1,
  h2 {
    font-size: calc(500% - 30px);
    line-height: 90px;
  }
  p {
    font-size: 20px;
  }
  .container {
    max-width: 1024px;
  }

  .section {
    padding: 53px 20px 30px;
  }
  .header-container {
    margin: 0;
    padding: 0 18px;
    height: 130px;
  }

  .header-logo {
    font-size: calc(181% - 1px);
  }

  .welcome-panaroma {
    width: 300px;
    height: 60px;
    font-size: calc(200% - 12px);
  }

  #welcome .container {
    height: 585px;
  }
  #welcome {
    padding: 0px 20px;
  }
  #welcome h2 {
    padding-top: 49px;
  }
  #welcome h4 {
    font-size: calc(200% - 8px);
    margin-bottom: 47px;
  }

  .down-line-title::after {
    bottom: -14px;
  }
  .down-line-title {
    margin-bottom: 76px;
  }

  .photo-cards-container {
    text-align: left;
    gap: 57px 106px;
    margin-bottom: 25px;
  }

  .photo-card {
    max-width: 334px;
    height: auto;
  }
  .photo-card-img {
    width: 100%;
    height: auto;
  }

  .photo-card-title {
    position: relative;
    margin: 18px 0 20px 0;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
  }
  .photo-card-title::after {
    bottom: -12px;
    width: 149px;
  }
  .photo-card-text.text-2 {
    font-size: 16px;
  }
  .photo-card-text.text-1 {
    display: block;
    font-size: 20px;
    margin-bottom: 6px;
  }

  #explore .section-title {
    margin-top: 0;
    margin-bottom: 78px;
  }
  .dark-paragraph {
    margin: 0;
    word-spacing: 1px;
    line-height: 176%;
  }
  .dark-paragraph:last-child {
    display: none;
  }
  #explore {
    padding-bottom: 58px;
  }

  #video .light-paragraph {
    display: none;
  }
  .video-title-container {
    padding: 0;
    margin: 2px 0 9px;
    display: block;
  }
  .video-container {
    height: 505px;
    /* background-position: 50% 110%; */
  }

  .sound-toggle,
  .fullscreen-toggle {
    background-size: 25px;
  }
  .video-progress::-webkit-slider-thumb,
  .sound-progress::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
  }

  .big-play-toggle {
    background-size: 150px;
  }

  .player-video iframe {
    overflow: hidden;
    height: 170px;
    max-width: 300px;
  }
  #video {
    padding-bottom: 62px;
  }
  #gallery {
    padding-top: 53px;
  }
  .picture-inner-container {
    grid-template-columns: 33% 31% 33%;
    column-gap: 36px;
  }

  .gallery-column {
    margin-top: 28px;
    width: calc(100% -20px);
  }
  .gallery-column:first-child,
  .gallery-column:last-child {
    margin-top: 80px;
    width: inherit;
  }
  .gallery-column img {
    margin-top: 24px;
  }
  .picture-container {
    height: 1238px;
  }

  .tickets-container {
    grid-template-columns: 71% 29%;
  }

  .tickets1 {
    display: none;
  }

  .tickets-image {
    height: 100%;
    background-position: 50% 52%;
    background-size: cover;
  }

  .tickets-amount {
    margin: 10px 0 30px 28%;
    max-width: 170px;
  }
  .ticket-age-type {
    margin-left: 29%;
  }

  h4.ticket-amount {
    margin: -5px 25px 31px 0px;
    text-align: center;
  }

  h4.ticket-total {
    margin: -5px 0 69px 29%;
  }
  .ticket-buy {
    margin-left: 29%;
  }
  h4.ticket-total span {
    margin-left: 15px;
  }
  #tickets {
    padding-bottom: 60px;
  }
  .paralax {
    background-size: 187%;
    background-position: 50% 71%;
  }

  .contacts-container {
    grid-template-columns: 29% auto;
  }

  .contacts-map {
    height: 454px;
    background-position: 100% 0%;
  }

  h4.contacts {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
  }
  .contacts-item {
    margin-bottom: 11px;
  }

  #contacts {
    padding-bottom: 60px;
  }
  .footer-container {
    padding-top: 32px;
    padding-bottom: 50px;
  }

  .footer-logo {
    margin: 1px 20px 0;
  }

  .footer-nav-list {
    margin: 0;
    grid-template-columns: 208px auto;
  }

  .footer-nav-item {
    margin: 35px 0px -12px 23px;
  }
  .social-list {
    grid-column-gap: 24px;
    justify-content: flex-start;
  }
  .social-circle {
    margin-top: 114px;
  }
  .footer-footer {
    padding: 47px 20px 50px;
  }

  .modal-window {
    margin: 0 auto;
  }
  .modal-body {
    padding: 75px 27px;
  }

  #booking .down-line-title {
    margin-bottom: 52px;
  }

  #booking .booking-amount-title.down-line-title {
    margin-bottom: 20px;
  }

  #booking .booking-amount-title.down-line-title::after {
    bottom: -6px;
  }


  #explore .container {
    grid-template-columns: auto;
  }

  .explore-slider-container {
    margin: 65px calc(13% + 7px) 0px;
    width: 73%;
  }

  .explore-picture-delimeter {
      left: 58%;
  }
}
